<!--*
 *
 * (c) Copyright Ascensio System Limited 2010-2017
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html lang="en">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>ONLYOFFICE Document Builder</title>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300&subset=latin,cyrillic-ext,cyrillic,latin-ext" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
</head>
<body>
    <header>
        <a href="/">
            <img src ="images/logo.png" alt="ONLYOFFICE" />
        </a>
    </header>
    <div class="main-panel">
        <span class="portal-name">ONLYOFFICE Document Builder – Welcome!</span>
        <span class="portal-descr">Get started with a demo-sample of ONLYOFFICE Document Builder. You may upload your own script for documents using the <b>Upload script</b> button and selecting the necessary file on your PC.</span>
        <div class="help-block">
            <span>Generate a document from the script below, edit it or upload your own script</span>
            <p>Use the script in the textarea below as is to generate the document or you edit it in the textarea window. Or, in case you have a script of your own, use the button under the textarea to upload it.</p>
            <div class="error-message"><%= errorMessage %></div>
            <div class="clearFix">
                <form method="post" action="./generate" id="Form1">
                    <textarea name="PredefinedScript" rows="2" cols="20" id="PredefinedScript"><%= predefinedScript %></textarea>
                    <div class="upload-panel clearFix">
                        <a id="builderFileLink" class="file-upload">Upload your own script</a>
                        <input type="file" id="builderFile" />

                        <div class="generate-button-upload">
                            <input value="Generate document" id="GenerateButton" type="submit">
                        </div>
                        <p>Visit <a target="_blank" href="https://api.onlyoffice.com/docbuilder/basic">ONLYOFFICE Document Builder documentation</a> for more script examples.</p>
                    </div>
                </form>

                <form method="post" action="./create" id="Form1">
                    <div class="create-panel clearFix">
                        <span>Or create a new file from a sample script with your own data</span>
                        Fill the data into the text areas below so that it could appear in the output document. Or leave it blank, in this case the default values (now shown as watermarks in the text area) will be added to the resulting document.

                    <ul class="try-editor-list clearFix">
                        <li>
                            <input name="docx" value="Create Document" id="CreateDocx" class="try-editor document" type="submit" />
                        </li>
                        <li>
                            <input name="xlsx" value="Create Spreadsheet" id="CreateXlsx" class="try-editor spreadsheet" type="submit" />
                        </li>
                        <li>
                            <input name="pdf" value="Create PDF" id="CreatePdf" class="try-editor presentation" type="submit" />
                        </li>
                    </ul>

                        <div class="own-data-enter">
                            <label>Name: </label>
                            <input name="NameText" id="NameText" class="input" placeholder="John Smith" type="text" />
                            <label>Company: </label>
                            <input name="CompanyText" id="CompanyText" class="input" placeholder="ONLYOFFICE" type="text" />
                            <label>Position/Title: </label>
                            <input name="TitleText" id="TitleText" class="input" placeholder="Commercial director" type="text" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="help-block">
            <span>Want to learn the magic?</span>
            Explore ONLYOFFICE Document Builder
    <a href="http://helpcenter.onlyoffice.com/developers/document-builder/index.aspx" target="_blank">documentation.</a>
        </div>
        <div class="help-block">
            <span>Any questions?</span>
            Please, <a href="mailto:sales@onlyoffice.com">submit your request here</a>.
        </div>
    </div>

    <footer>&copy; Ascensio Systems Inc 2017. All rights reserved.</footer>

    <script type="text/javascript" src="javascripts/jscript.js"></script>
</body>
</html>
